@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @keyframes flip {
    0% {
      background-color: transparent;
      transform: perspective(200px) rotateY(0deg);
    }

    49.99999% {
      background-color: transparent;
      transform: perspective(200px) rotateY(90deg);
    }

    50% {
      transform: perspective(200px) rotateY(-90deg);
      border: none;
    }

    50.00001% {
      border: none;
    }

    100% {
      transform: perspective(200px) rotateY(0deg);
    }
  }
  body {
    font-family: 'Mitr', sans-serif;
  }
}
